svg {
    margin-top: -300px;
}
.path-1{
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 117.12918660287082,393.3205741626794 234.25837320574163,386.6411483253588 317,382 C 399.74162679425837,377.3588516746412 448.0956937799042,374.75598086124404 541,392 C 633.9043062200958,409.24401913875596 771.3588516746412,446.334928229665 886,441 C 1000.6411483253588,435.665071770335 1092.468899521531,387.90430622009575 1181,374 C 1269.531100478469,360.09569377990425 1354.7655502392345,380.0478468899521 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  25%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 123.4354066985646,409.4354066985646 246.8708133971292,418.87081339712915 335,437 C 423.1291866028708,455.12918660287085 475.9521531100478,481.95215311004785 556,468 C 636.0478468899522,454.04784688995215 743.3205741626795,399.32057416267946 840,382 C 936.6794258373205,364.67942583732054 1022.7655502392342,384.76555023923447 1121,394 C 1219.2344497607658,403.23444976076553 1329.6172248803828,401.61722488038276 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  50%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 123.75119617224877,414.4401913875598 247.50239234449754,428.8803827751196 335,433 C 422.49760765550246,437.1196172248804 473.7416267942584,430.91866028708125 558,418 C 642.2583732057416,405.08133971291875 759.5311004784689,385.444976076555 857,395 C 954.4688995215311,404.555023923445 1032.1339712918661,443.30143540669854 1126,449 C 1219.8660287081339,454.69856459330146 1329.933014354067,427.3492822966507 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  75%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 111.10047846889952,426.1818181818182 222.20095693779905,452.3636363636364 298,450 C 373.79904306220095,447.6363636363636 414.2966507177034,416.72727272727275 525,422 C 635.7033492822966,427.27272727272725 816.6124401913875,468.7272727272727 915,453 C 1013.3875598086125,437.2727272727273 1029.2535885167465,364.36363636363643 1103,346 C 1176.7464114832535,327.63636363636357 1308.3732057416269,363.81818181818176 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  100%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 117.12918660287082,393.3205741626794 234.25837320574163,386.6411483253588 317,382 C 399.74162679425837,377.3588516746412 448.0956937799042,374.75598086124404 541,392 C 633.9043062200958,409.24401913875596 771.3588516746412,446.334928229665 886,441 C 1000.6411483253588,435.665071770335 1092.468899521531,387.90430622009575 1181,374 C 1269.531100478469,360.09569377990425 1354.7655502392345,380.0478468899521 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
}

.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 102.17224880382773,175.88516746411483 204.34449760765546,151.77033492822966 290,172 C 375.65550239234454,192.22966507177034 444.7942583732058,256.8038277511962 531,243 C 617.2057416267942,229.1961722488038 720.4784688995215,137.01435406698565 816,131 C 911.5215311004785,124.98564593301435 999.2918660287082,205.13875598086122 1102,231 C 1204.7081339712918,256.8612440191388 1322.3540669856459,228.4306220095694 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  25%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 70.45933014354068,238.9665071770335 140.91866028708137,277.933014354067 241,269 C 341.08133971291863,260.066985645933 470.7846889952152,203.23444976076553 569,181 C 667.2153110047848,158.76555023923447 733.9425837320576,171.12918660287082 838,192 C 942.0574162679424,212.87081339712918 1083.444976076555,242.2488038277512 1190,245 C 1296.555023923445,247.7511961722488 1368.2775119617227,223.8755980861244 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  50%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 98.23923444976077,216.31578947368422 196.47846889952154,232.6315789473684 297,232 C 397.52153110047846,231.3684210526316 500.32535885167465,213.78947368421052 593,213 C 685.6746411483253,212.21052631578948 768.22009569378,228.21052631578945 873,217 C 977.77990430622,205.78947368421055 1104.7942583732058,167.3684210526316 1203,160 C 1301.2057416267942,152.6315789473684 1370.6028708133972,176.31578947368422 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  75%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 112.23923444976077,234.19138755980862 224.47846889952154,268.38277511961724 318,271 C 411.52153110047846,273.61722488038276 486.32535885167465,244.6602870813397 580,216 C 673.6746411483253,187.3397129186603 786.2200956937799,158.97607655502395 875,168 C 963.7799043062201,177.02392344497605 1028.7942583732056,223.43540669856458 1119,235 C 1209.2057416267944,246.56459330143542 1324.6028708133972,223.2822966507177 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  100%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 102.17224880382773,175.88516746411483 204.34449760765546,151.77033492822966 290,172 C 375.65550239234454,192.22966507177034 444.7942583732058,256.8038277511962 531,243 C 617.2057416267942,229.1961722488038 720.4784688995215,137.01435406698565 816,131 C 911.5215311004785,124.98564593301435 999.2918660287082,205.13875598086122 1102,231 C 1204.7081339712918,256.8612440191388 1322.3540669856459,228.4306220095694 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
}